doctype html
html(lang='es', xmlns:v='urn:schemas-microsoft-com:vml', xmlns:o='urn:schemas-microsoft-com:office:office')
    head
        meta(charset='utf-8')
        meta(name='x-apple-disable-message-reformatting')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        meta(name='viewport', content='width=device-width,initial-scale=1')
        meta(name='format-detection', content='telephone=no, date=no, address=no, email=no')
        // [if mso]>        <xml><o:officedocumentsettings><o:pixelsperinch>96</o:pixelsperinch></o:officedocumentsettings></xml>      <![endif]
        title Información importante
        style.
            .hover-underline:hover {
                text-decoration: underline !important;
            }
            @media (max-width: 600px) {
                .sm-w-full {
                width: 100% !important;
                }
                .sm-px-24 {
                padding-left: 24px !important;
                padding-right: 24px !important;
                }
                .sm-py-32 {
                padding-top: 32px !important;
                padding-bottom: 32px !important;
                }
            }
    body(align='center' style='margin: 0; width: 100%; padding: 0; word-break: break-word; -webkit-font-smoothing: antialiased;')
        div(style='font-family: \'Montserrat\', sans-serif; mso-line-height-rule: exactly; display: none;') Información importante
        div(role='article' aria-roledescription='email' aria-label='Account verify' lang='en' style='font-family: \'Montserrat\', sans-serif; mso-line-height-rule: exactly;')
        table(style='width: 100%; font-family: Montserrat, -apple-system, \'Segoe UI\', sans-serif;' cellpadding='0' cellspacing='0' role='presentation')
            tbody
            tr
                td(align='center' style='mso-line-height-rule: exactly; background-color: #eceff1; font-family: Montserrat, -apple-system, \'Segoe UI\', sans-serif;')
                table.sm-w-full(style='width: 600px;' cellpadding='0' cellspacing='0' role='presentation')
                    tbody
                    tr
                        td.sm-py-32.sm-px-24(style='mso-line-height-rule: exactly; padding: 48px; text-align: center; font-family: Montserrat, -apple-system, \'Segoe UI\', sans-serif;')
                        a(href='#' style='font-family: \'Montserrat\', sans-serif; mso-line-height-rule: exactly;')
                            img(src='https://res.cloudinary.com/ds7kahvdg/image/upload/v1707331824/METSIU/wpfmdwuvy8zkfszvidfz.png' width='300' alt='Logo' style='max-width: 100%; vertical-align: middle; line-height: 100%; border: 0;')
                    tr
                        td.sm-px-24(align='left' style='font-family: \'Montserrat\', sans-serif; mso-line-height-rule: exactly;')
                        table(style='width: 100%;' cellpadding='0' cellspacing='0' role='presentation')
                            tbody
                            tr
                                td.sm-px-24(style='mso-line-height-rule: exactly; border-radius: 4px; background-color: #ffffff; padding: 48px; text-align: left; font-family: Montserrat, -apple-system, \'Segoe UI\', sans-serif; font-size: 16px; line-height: 24px; color: #626262;')
                                p(style='font-family: \'Montserrat\', sans-serif; mso-line-height-rule: exactly; margin-bottom: 0; font-size: 20px;')
                                    | Hola 
                                    span(style='font-weight: 600;') #{user.NAME},
                                    br
                                    br
                                p(style='font-family: \'Montserrat\', sans-serif; mso-line-height-rule: exactly; margin: 0; margin-bottom: 24px;')
                                    | Su reciente solicitud de registro en 
                                    span(style='font-weight: 600;') MET•SIU
                                    |  fue aprobado.
                                br
                                | Por favor usa este código para confirmar el registro de su cuenta: 
                                br
                                br
                                span(style='height: 5vh; font-weight: 1000; font-size: 30px; color: black; background-color: #eceff1;') #{otp}
                                br
        p(style='font-family: \'Montserrat\', sans-serif; mso-line-height-rule: exactly; margin: 0; margin-bottom: 18px;').
        p(style='font-family: \'Montserrat\', sans-serif; mso-line-height-rule: exactly; margin: 0;font-size: 12px')
        | Si no tenía la intención de registrarse o necesita nuestra ayuda para eliminar la cuenta, contáctenos en 
        a.hover-underline(href='notificaciones.its@metgroupsas.com' style='font-family: \'Montserrat\', sans-serif; mso-line-height-rule: exactly; color: #7367f0; text-decoration: none;')
        table(style='width: 100%;' cellpadding='0' cellspacing='0' role='presentation')
        tbody
            tr
            td(style='font-family: \'Montserrat\', sans-serif; mso-line-height-rule: exactly; padding-top: 20px; padding-bottom: 20px;')
                div(style='font-family: \'Montserrat\', sans-serif; mso-line-height-rule: exactly; height: 1px; background-color: #eceff1; line-height: 1px;').
            
        p(style='font-family: \'Montserrat\', sans-serif; mso-line-height-rule: exactly; margin: 0; margin-bottom: 16px;font-size: 12px')
        | ¿No está seguro de porqué recibió este correo electrónico? Por favor 
        a.hover-underline(href='notificaciones.its@metgroupsas.com' style='font-family: \'Montserrat\', sans-serif; mso-line-height-rule: exactly; color: #7367f0; text-decoration: none;') contáctanos
        | .
        table(style='width: 100%;' cellpadding='0' cellspacing='0' role='presentation')
        tbody
            tr
            td(style='font-family: \'Montserrat\', sans-serif; mso-line-height-rule: exactly; padding-top: 5px; padding-bottom: 5px;')
                div(style='font-family: \'Montserrat\', sans-serif; mso-line-height-rule: exactly; height: 1px; background-color: #eceff1; line-height: 1px;').
            
        p(style='font-family: \'Montserrat\', sans-serif; mso-line-height-rule: exactly; margin: 0; margin-bottom: 1px;font-size: 12px')
        | Gracias,
        br
        span(style='font-weight: 600;') Equipo de Desarrollo Met Group.
    tr
        td(style='font-family: \'Montserrat\', sans-serif; mso-line-height-rule: exactly; height: 20px;').
    tr
        td(style='font-family: \'Montserrat\', sans-serif; mso-line-height-rule: exactly; height: 16px;').
